

*{
    margin: 9px;
    padding: 0px;
    box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    padding: 0 30px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  
  }

  .wrapper{
    display: flex;
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 50px;
 
  }
  h1{
    font-family: Verdana;
    font-size: 25px;
    font-weight: bold;
  }

  h2{
    font-family: Verdana;
    font-weight: 100;
    font-size: 20px;
  }
  .btn{
    background: #fff;
    color:#222;
    font-weight:500 ;
    width: 100%;
    border: 1 px solid #222;
    padding:10px;
    margin: 10 px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .wrapper{
    height: 500px;
    width: 2000px;
    background: #e3dcdc;
    border-radius: 10px;
    box-shadow: 0 30px 25px rgba(0,0,0,0.1);
  }
.btn:hover{
    color: #e3dcdc;
    background-color: black;

}
.start-btn{

  position: fixed;
  bottom: 380px;
left: 120px;
height: 50px;
width: 200px;
border: 1 px solid #222;  
border-radius: 4px;
}
.time{
  font-size: 30pxpx;
  font-weight: lighter;

}
form{
  height: 200px;
  margin: 20px;
}

#submit{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#score{
  font-family:serif;

  font-size: 19px;
}


.footer{
  width: 10px;
  height: 130px;
}